[submodule "third_party/asio"]
	path = third_party/asio
	url = https://github.com/chriskohlhoff/asio
[submodule "third_party/sanitizers-cmake"]
	path = third_party/sanitizers-cmake
	url = https://github.com/arsenm/sanitizers-cmake
[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog
[submodule "third_party/cxxopts"]
	path = third_party/cxxopts
	url = https://github.com/jarro2783/cxxopts
[submodule "third_party/rapidjson"]
	path = third_party/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "third_party/waypp"]
	path = third_party/waypp
	url = https://github.com/jwinarske/waypp.git
[submodule "third_party/tomplusplus"]
	path = third_party/tomplusplus
	url = https://github.com/marzer/tomlplusplus.git
